.playerScoreAdder
{
	margin: auto;
    display: table;
}


#score
{
  font-size: 18px;
  letter-spacing: 0.036em;
  font-style: italic;
  margin: auto;
  display: grid;
  text-align: center;
  padding-top: 12vh;
  padding-left: 12vw;
}
