<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
	<head>
	   <meta charset="UTF-8" />
       <meta http-equiv="X-UA-Compatible" content="IE=edge" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link rel="stylesheet" href="index.css" />
       <title>ScoreBoard</title>
	</head>
	<body>
	     <div id="addScore">
   		<form  action="score" method="post" >
   			<div class="playerScoreAdder">
   				<label for="playerName"><b>Player</b></label>
   				<input type="text" placeholder="Enter name of player" name="playerName" required>
   				<label for="playerScore"><b>Score</b></label>
   				<input type="number" placeholder="Enter the player score" name="playerScore" style="margin: auto;width: 12vw;" required>
   				<button type="submit" onclick="window.location.href = 'home'">add</button>  		
   			</div>
   		</form>
       </div>
	
		<div id="score">
		    <table>
               <tr>
                 <th>ID</th>
                 <th>Name</th>
                 <th>Score</th>
     		   </tr>
     			 <tr th:each="stat : ${stats}">
       			 <td th:text="${stat.Id}">-1</td>
       			 <td th:text="${stat.name}">Invalid</td>
        		 <td th:text="${stat.score}">0</td>
     		   </tr>
   			 </table>
		</div>
	</body>
</html>